# Streamlit Web App
streamlit

# LangChain & AI Integrations
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface

# Vector Database & Local Embeddings
chromadb
sentence-transformers

# PDF Parsing & Environment Utilities
pypdf
python-dotenv
